body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa{
    background-color: aqua;
    width: 80%;
    height: 80%;
    border:1px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa1 {
    width: 400px;
    height: 400px;
    border: 1px solid red;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.teste {
    width: 70%;
    height: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

input {
    width:90%;
    padding: 10px;
}

.label {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

          .raibow {
            margin: 0;
            height: 100vh;
            /* Define a animação: nome, duração, tipo, repetição */
            animation: raibow 10s infinite alternate;
          }
        
          @keyframes raibow {
            0% { background-color: rgb(255, 100, 100); }    /* Vermelho claro */
            33% { background-color: rgb(100, 255, 100); }   /* Verde claro */
            66% { background-color: rgb(100, 100, 255); }   /* Azul claro */
            100% { background-color: rgb(255, 255, 100); }  /* Amarelo claro */
          }

          .textraibow {
            animation: textcolor 10s infinite alternate;
          }

          @keyframes textcolor {
            0% { color: rgb(255, 255, 100); }  /* Amarelo claro */
            33% { color: rgb(100, 100, 255); }   /* Azul claro */
            66% { color: rgb(255, 100, 100); }    /* Vermelho claro */
            100% { color: rgb(100, 255, 100); }   /* Verde claro */
           
            
          }

        
          