*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(100deg, #48f4d5 0%, #ad6aef 100%);
}

.form-container{
    background: rgba(255, 255, 255, 0.95);
    padding: 40px;
    border-radius: 15px ;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    transition: transform 0.5 ease;
}