.wave {
    background-size: 200% 100%;
    animation: wave-continuous 10s linear infinite;
}

@keyframes wave-continuous {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: -200% 0%;
    }
}
.zoom {
    background-size: 150% 150%; 
    background-position: center;
    animation: pulsar-fundo 2s ease-in-out infinite alternate;
}

@keyframes pulsar-fundo {
    0% {
        background-size: 100% 100%;
        background-position: center;
    }
    100% {
        background-size: 150% 150%;
        background-position: center;
    }
}

/* 
.text-rainbow {
    background: linear-gradient(90deg, #ff6464, #64ff64, #6464ff, #ffff64, #ff6464);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: wave-continuous 10s linear infinite;
    display: inline-block;
} */
