
.rainbow {
    margin: 0;
    height: 100vh;
    animation: rainbow 10s infinite alternate;
  }

  @keyframes rainbow {
    0% { background-color: rgb(255, 100, 100); }   
    33% { background-color: rgb(100, 255, 100); }  
    66% { background-color: rgb(100, 100, 255); }   
    100% { background-color: rgb(255, 255, 100); }  
  }

  .text-rainbow {
    animation: text-rainbow 10s infinite alternate;
  }

  @keyframes text-rainbow {
    0% { color: rgb(255, 255, 100); } 
    33% { color: rgb(100, 100, 255); }   
    66% { color: rgb(255, 100, 100); }    
    100% { color: rgb(100, 255, 100); }   
  }

  